body{
    margin:0px;
    padding: 0px;
    background-color: pink;
}
*{
    box-sizing: border-box;
}
ul li {
    list-style: none;
}
a{
    text-decoration: none;
}
.main{
    font-family: 'Poppins', sans-serif;
}
.text-center{
    text-align: center;
}
.navbar{
    position:  relative;
    margin-top: 20px;
}

/* navbar smaller Tablet */
.checkbox--list{
    position: absolute;
    right: 0px;
    top: 0;
    display: none;
}
.navbar__btn{
    position: absolute;
    right: 0px;
    top:10px;
    font-size: 33px;
    color: white;
    visibility: hidden;
}
.nav__overlay--sTalet{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.9);
    transform: translateX(-100%);
    transition: transform 0.3s linear;
    display: none;
    opacity: 0;
    z-index: 2;
}
.navbar__sTablet{
    position: fixed;
    top:0;
    right: 0;
    bottom: 0;
    background-color: white;
    width: 320px;
    max-width: 100%;
    visibility: hidden;
    opacity: 0;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    z-index: 99;
}
.navbar__sTablet--list{
    padding: 20px 0px;
    margin-bottom: 20px;
}
.navbar__sTablet--list a{
    color: black;
}
.navbar__sTablet--close{
    position: absolute;
    top:0px;
    right: 10px;
    font-size: 28px;
    padding: 20px;
    color: rgb(179, 178, 178);
}
.checkbox--list:checked ~ .nav__overlay--sTalet{
    opacity: 1;
    transform: translateX(0);
}
.checkbox--list:checked ~ .navbar__sTablet{
    opacity: 1;
    transform: translateX(0%);
    visibility: visible;    
}
.checkbox--list:checked ~ .navbar__btn {
    transform: translateY(-100%);
    transition: 0.3s;
}
.navbar__sTablet--dropdown{
    padding: 15px 20px;
    border-bottom: 1px solid rgb(220, 215, 215);
}
.navbar__sTablet--dropdown a{
    color: rgb(71, 70, 70);
}
.checbox--homelist{
    position: absolute;
    left: 80px;
    top: 55px;
    visibility: visible;
}
.navbar__mobile--dropdown{
    position: relative;
    left: -20px;
    top:80px;
    font-size: 13px;
    margin-bottom: 30px;
    line-height: 2.5;
    font-weight: 600;
    display: none;
    transform: translateY(-100%);
}
.checbox--homeli~st:checked ~ .navbar__mobile--dropdown{
    display:block;
    transform: translateY(0);
}
.checkbox--Pages{
    position: absolute;
    left: 80px;
    top: 165px;
    visibility: hidden;
}

/* PC */
.navbar__list{
    display: flex;
    position: absolute;
    right: 0px;
    top:0px;
}
.navbar__list--item{
    margin: 0px 8px;
    text-align: center;
}
.navbar__list--item a {
    color: white;
}

.navbar__itemlist--dropdown{
    width: 180px;
    line-height: 2.3;
    color: black;
    padding: 10px 20px;
    position: absolute;
    margin-top: 50px;
    font-size: 13px;
    border-radius: 8px;
    background-color: white;
    visibility: hidden;
    transition: 0.2s linear ;
    opacity: 0;
    font-weight: bold;
}
.navbar__itemlist--dropdown a{
    color: black;
    font-size: 12px;
    font-weight: 650;
    line-height: 3;
}
.Pages--list{
    left: 270px; 
}
.navbar__itemlist--dropdown::after {
    content: " ";
    position: absolute;
    bottom: 100%;  /* At the top of the tooltip */
    left: 13%;
    margin-left: 0px;
    border-width: 8px;
    border-style: solid;
    border-color: transparent transparent white transparent;
    opacity: 0;
    transition: 0.3 linear;
}
.navbar__list--item:hover .navbar__itemlist--dropdown{
    visibility: visible;
    opacity: 1;
    transform: translateY(-40px);
}
.navbar__list--item:hover .navbar__itemlist--dropdown::after{
    opacity: 1;
}
/* Header--pages */
.pageschild--icon {
    color: rgb(174, 171, 171);
    position: absolute;
    right: 10px;
    padding-top: 7px;
}
.navbar__Pageslist--itemlist{
    position: absolute;
    background-color: white;
    left: 175px;
    top:40px;
    border-radius: 3px;
    width: 100%;
    padding: 10px 20px;
    opacity: 0;
    visibility: hidden;
    transition: transform ease 0.3s;
}
.BlogPages--item {
    top:70px;
}
.BlogDetails--item{
    top: 100px;
}
.Account--item{
    top:130px;
}
.navbar__Pageslist--dropdown:hover .navbar__Pageslist--itemlist{
    opacity: 1;
    visibility: visible;
    transform: translateY(-30px);
}
.navbar__Pagelist--warning {
    background-color: rgb(248, 177, 84);
    border-radius: 10px;
    font-size: 10px;
    padding: 2px 5px;
}

/* home */
.overlay{
    width: 100%; 
    height: 100%; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.9;
    position: absolute;
    z-index: -1;
    background-image: linear-gradient(-47deg, #8731E8 0%, #4528DC 100%); /* Black background with opacity */
}
#home{
    width: 100%;
    background-image: url("https://scontent.fdad1-2.fna.fbcdn.net/v/t1.6435-9/95125765_608293559764932_2917841441910685696_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=174925&_nc_ohc=y_TgyQLlc0MAX_inqdi&tn=PQsvLUpt1xFfc08y&_nc_ht=scontent.fdad1-2.fna&oh=00_AfDEH5rbgGfebORFIIsKf1pzFs-uvlVJ28luUxNGjtPypA&oe=63C92DC9");
    background: rgba(0, 0, 0, 0) url(./Image/welcome-bg.jpg) no-repeat scroll center center/cover;
    position: relative;
    top:-90px;
    z-index: -1;
    object-fit: contain;
    padding: 120px 0px;
}
.home__content{
    justify-content: space-between;
    margin: 0 auto;
}
.home__left{
    width: 50%;
    color: white;
}
.home__content h1{
    font-size: 63px;
    font-weight: 600;
    margin:50px 0px;
    line-height: 1.25;
}
.home__content p {
    margin-top: -20px;
    font-size: 17px;
    line-height: 1.5;
}
.home__left--mobilelogo{
    display: flex;
    align-items: center;
    margin: 30px 0px 20px 0px;
}
.img__mobile{
    width: 190px;
    height: 60px;
}
.home__right{
    width: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    z-index: 1;
    animation: imgMobile 0.8s linear;
}
@keyframes imgMobile {
    from {
        opacity: 0;
        transform: translateX(20%);
    }
    to {
        opacity: 1;
        transform: translateX(0%);
    }
    
}
.img__smartphone{
    width: 295px;
    height: 605px;
    margin-top: 30px ;
}
.shape-bottom {
    position: absolute;
    top: auto;
    bottom: -10px;
    left: 0;
    right: 0;
}
#counter-area{
    position: relative;
    top:-90px;
    text-align: center;
    z-index: -3;
    width: 100%;
    background-color: rgb(255, 255, 255);
}
.counter-area-row{
    margin-top: 80px;
}
.counter__line{
    width: 1px;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.2)
}
.counter-area-col .col_number{
    color: #602ce1;
    font-size: 47px;
    font-weight: 700;
    display: flex;
    justify-content: center;
}

.counter-area-col p{
    color: #222222;
    font-size: 20px;
    margin-top: 10px;
    font-weight: 600;
}
/* feature area */
#features-area{
    position: relative;
    top: -80px;
}
.feature__btn{
    font-size: 16px;
    font-weight: 500;
    margin: 0 auto;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    padding: 8px 0 8px 0;
    border-radius: 40px;
    box-shadow: rgb(0 0 0 / 16%) 0px 1px 4px;
}
.feature__btn--color{
    color: #7c4fe0;
    padding-right: 8px;
}
.feature__btn span{
    font-weight: 500;
}
.feature__title{
    font-size: 47px;
    font-weight: 600;
}
.feature__content{
    width: 76%;
    margin: 4px auto;
}

@media only screen and (max-width:85.375em)
{
    .navbar__list{
        display: none;
    }
    .navbar__btn{
        visibility: visible;
    }
    .nav__overlay--sTalet{
        display: block;
    }
    
}
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em){
    .home__content h1{
        font-size: 50px;
    }
    .img__smartphone{
        width: 265px;
        height: 540px;
    }
    .home__right{
        justify-content: right;
    }
    .row{
        justify-content: center;
    }
}
@media only screen and (max-width: 46.1875em){
    .navbar{
        padding: 0px 30px 0px 30px;
    }
    .home__content{
        flex-direction: column;
    }
    .home__content h1{
        font-size: 45px;
    }
    .home__left{
        width: 100%;
        align-items: center;
        justify-content: center;
        margin: 0px auto;
        padding: 0px 30px;
    }
    .home__right{
        width: 100%;
    }
    .img__smartphone{
        width: 200px;
        height: 500px;
    }
    .img__mobile{
        width: 140px;
        height: 40px;
    }
}